body{
    font-family: 'Dosis', sans-serif;
    margin: 0px;
}



.welcome{
    font-size: 40px;
    color: rgb(39, 39, 39);
}

.title_name{
    font-size: 50px;
    color: rgb(31, 31, 31);
}

.name_highlight{
    font-size: 50px;
    background: -webkit-linear-gradient(45deg, rgb(255, 0, 0), rgb(255, 196, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2% ;
}

.half-width img{
    width: 100%;
}

.top_banner{
    
    background-image: url("image/top-banner.png");
    background-repeat: no-repeat;
}

section{
    height: 700px;
    padding-bottom: 50px ;
    }

p{
    margin-bottom: 25px;
    color: dimgray;
    text-align: justify;
    text-justify: inter-word;
    padding-right: 20px;
}


.link-button{
    color: aliceblue;
    font-weight: 700;
    text-decoration: none;
    background-color: orange;
    border-radius: 5px;
    padding: 10px 20px;
    background-image: linear-gradient(45deg, rgb(200, 99, 247), rgb(255, 75, 75));
}

.title_mid{
    font-size: 40px;
    color: rgb(39, 39, 39);
}

.resume-button{
    color: white;
    font-weight: 700;
    text-decoration: none;
    background-color: orange;
    border-radius: 5px;
    padding: 10px 5px;
    background-image: linear-gradient(45deg, rgb(0, 238, 255), rgb(0, 219, 73));
}


.Bottom_banner{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

/*Mid Section for Bottom banner types*/
.mid-section{
    height: 600px;
    padding-bottom: 200px;

}

.card-highlight{
    color: rgb(255, 185, 55);
}

.experience-BG{
    background-image: url(image/ExpBG.png);
    background-repeat: no-repeat;
    width: 250px;
    padding: 4px;
    z-index: 1;
  
}

.individual-card{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 70%; 
    background-color: rgb(252, 252, 252);
    overflow-y: auto;
}

.experience{
    padding-top: 20px;
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

/*Card Section for all card types*/
.card-section{
    height: 400px;
}

#data-artist{
    border-left: 8px solid;
    border-image: linear-gradient(180deg, rgb(255, 0, 55), blue);
    border-image-slice: 1;
}

#junior-web{
    border-left: 8px solid;
    border-image: linear-gradient(180deg, rgb(0, 255, 170), blue);
    border-image-slice: 1;
}


/*----------------------------------------------------------------------*/
/*Media Query*/
@media only screen and (max-width: 1800px) {
    .mid-section{
        height: 400px;
        padding-bottom: 250px;
    }
}
@media only screen and (max-width: 1490px) {
    .mid-section{
        height: 400px;
        padding-bottom: 150px;
    }
}
@media only screen and (max-width: 1300px) {
    .mid-section{
        height: 400px;
        padding-bottom: 100px;
    }
}

@media only screen and (max-width: 1000px) {
    .mid-section{
        height: 400px;
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 500px) {
    .mid-section{
        height: 600px;
        padding-bottom: 200px;
    }
}